@import 'base.css';
@import 'modal.css';
@import 'header.css';

.title {
  display: block;
  font-size: 38px;
  font-weight: 300;
  color: #1c2023;
}

.title-sub {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #7e899b;
}

.new-blueprint-modal,
.new-blueprint-modal form {
  display: flex;
  flex-direction: column;
}
