.modal {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 500px;
  overflow: hidden;
  margin: auto;
  padding: 1rem;
  outline: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation-duration: .35s;
  animation-fill-mode: both;
  animation-name: bounceIn;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
}

.modal__button {
  margin-top: 1rem;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal__button__icon {
  fill: #aaa;
}

.modal__button:hover .modal__button__icon {
  fill: #000;
}

@keyframes bounceIn {
  from, 60%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
