.modal {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 500px;
  overflow: hidden;
  margin: auto;
  padding: 1rem;
  outline: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation-duration: .35s;
  animation-fill-mode: both;
  animation-name: zoomIn;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
}

@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(.5)
  }

  to {
      opacity: 1;
      transform: scale(1)
  }
}
